{% extends "default.html" %}

{% block content %}


<!--Register-->
<div class="container">
	<h1>Регистрация</h1>
    {% for field in register_form %}
    <div class="fieldWrapper">
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="fieldWrapper">
        {{ register_form.errors }}
    </div>
	<form method="POST">
		{% csrf_token %}
        <table>
		{{ register_form.as_table }}
        </table>
		<button class="btn btn-primary" type="submit">Зарегистрироваться</button>
	</form>
	<p class="text-center">Если вы уже зарегистрированы <a href="{% url 'login' %}">то осуществите вход</a></p>
</div>

{% endblock %}
