{% extends "default.html" %}

{% block content %}

    В какую чат-комнату вы хотите войти?<br>
    <input id="room-name-input" type="text" size="100" value="default"><br>
    <input id="room-name-submit" type="button" class="btn btn-primary" value="Enter">

    <h2>Список пользователей и комнат</h2>
    <ol id="user-list">

    </ol>
    <button id="user-list-get" class="btn btn-primary">Manual refresh users</button>
    {{ user_1|json_script:"user" }}

    <script>

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        const user_list_ol = document.querySelector('#user-list')

        // document.querySelector('#user-list-get').onclick = async function(e) {
        //     const user = JSON.parse(document.getElementById('user').textContent);
        //     console.log(user)
        //     let url_room = "http://127.0.0.1:8000/room/list/";
        //     let resp_user_list = await fetch(url_room, {
        //         method: 'GET',
        //         headers: {
        //             'Accept': 'application/json',
        //             'Content-Type': 'application/json'
        //         }});
        //     const data_user_list = await resp_user_list.json();
        //     user_list_ol.textContent = '';
        //     data_user_list.forEach(element => {
        //         console.log(`<li>${element.name}</li>`);
        //         let li = document.createElement('li');
        //         li.textContent = element.name;
        //         li.id = `${user.pk}_${user.name}`;
        //         // li.textContent = `${element.name}`;
        //         user_list_ol.append( li);

        //     });
        //     console.log(data_user_list);
        //     document.querySelector('#user-list').value += (data_user_list.name + '\n');
        // };

        function whoami(e)  {
            fetch("/accounts/whoami/", {
                headers: {
                    "Content-Type": "application/json",
                },
                credentials: "same-origin",
            })
            .then((res) => res.json())
            .then((data) => {
                console.log("You are logged in as: " + data.username);
            })
            .catch((err) => {
                console.log(err);
            });
        }

        async function refresh_users(e) {
            const user = JSON.parse(document.getElementById('user').textContent);
            console.log(user)
            // const url_room = "http://127.0.0.1:8000/room/list/";
            const url_room = "http://127.0.0.1:8000/user/list/";
            let resp_user_list = await fetch(url_room, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }});
            const data_user_list = await resp_user_list.json();
            // reset user list
            user_list_ol.textContent = '';
            data_user_list.forEach(element => {
                console.log(`<li>${element.name}</li>`);
                let li = document.createElement('li');
                li.innerHTML = `<b>Пользователь:</b> ${element.username}`;
                li.id = `${element.id}_${element.username}`;
                if ( element.user_rooms.length > 0 ){
                    let room_ol = document.createElement('ol')
                    element.user_rooms.forEach(element2 =>{
                        let room_li = document.createElement('li');
                        room_li.innerHTML = `<b>Комната:</b> ${element2.name} `;
                        room_li.id = `${element2.id}_${element2.name}`;
                        let btn_enter = document.createElement('button');
                        btn_enter.innerHTML='подключиться к чату'
                        btn_enter.className = 'btn btn-primary'
                        room_li.append(btn_enter);
                        if (user.pk === element.id) {
                            let btn_upd = document.createElement('button');
                            btn_upd.innerHTML='изменить имя комнаты'
                            btn_upd.className = 'btn btn-warning'
                            room_li.append(btn_upd);

                            let btn_del = document.createElement('button');
                            btn_del.innerHTML='удалить комнату'
                            btn_del.className = 'btn btn-danger'
                            room_li.append(btn_del);
                        }
                        room_ol.append(room_li);
                    })
                    li.append(room_ol);

                }

                // li.textContent = `${element.name}`;
                user_list_ol.append( li);

            });
            console.log(data_user_list);
            document.querySelector('#user-list').value += (data_user_list.name + '\n');
        };

        document.querySelector('#user-list-get').onclick = refresh_users;

        document.addEventListener('DOMContentLoaded', refresh_users, false);
        document.addEventListener('DOMContentLoaded', whoami, false);


    </script>

{% endblock  %}
