{% extends "default.html" %}

{% block content %}


    <div class="card-body">
    {% if user.user_profile.profile_pic %}
      <img src="{{ user.user_profile.profile_pic.url }}" height=100 width=100><br><br>
    {% else %}
      {# <img src="{% static 'base\images\profile\user.png' %}" height=100 width=100><br><br> #}
    {% endif %}
      <p><strong>Username:</strong> {{ page_user }}</p><br><br>

      {% if user.id == profile.user.id %}
      <a href="{% url 'edit_user_profile' profile.id %}"><button class="button">Edit</button></a>
      {% endif %}


    </div>

{% endblock content %}
