{% extends "default.html" %}

{% block content %}


    <div class="card-body">
    {% if user.user_profile.profile_pic %}
      <img src="{{ user.user_profile.profile_pic.url }}" height=100 width=100><br><br>
    {% else %}
      {# <img src="{% static 'base\images\profile\user.png' %}" height=100 width=100><br><br> #}
    {% endif %}
      {# <p><strong>Username:</strong> {{ page_user }}</p><br> #}
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Userprofile:</strong> {{ user_prof_exist }}</p>
      {# <p><strong>Userprofile_id:</strong> {{ user.user_profile.id }}</p><br><br> #}

      <!-- {% if user.id == page_user.id %}
      <a href="{% url 'user_profile_update' user.id %}"><button class="button">Edit</button></a>
      {% endif %} -->

      {% if user.id == page_user.id and user_prof_exist %}
      <a href="{% url 'user_profile_update' user.user_profile.id %}"><button class="button">Edit</button></a>
      {% endif %}
      {% if user.id == page_user.id and not user_prof_exist %}
      <a href="{% url 'user_profile_create' user.id %}"><button class="button">Create</button></a>
      {% endif %}

    </div>

{% endblock content %}
