.client-text {
    font-weight: bold;
    color: blue;
}

.internet-text {
    text-transform: uppercase; 
}

.browser-text {
    font-style: italic;
    color: orange;
}

.server-text {
    color: red; 
}
